{% load static %}
<div class="custom-navbar">
    <div class="container navbar-inner">
      <div class="navbar-logo">
        <a href="/"><img src="{% static 'lab4/logo.png' %}" class="navbar-logo" alt="logo"></a>
      </div>
      <div class="menu-section">
        <a href="/#home" class="menu-item">home</a>
        <a href="/#portofolio" class="menu-item">portofolio</a>
        <a href="/#skill" class="menu-item">skill</a>
        <a href="/#contact" class="menu-item">contact</a>
        <a href="/#" class="menu-item" data-toggle="modal" data-target="#exampleModal">Gallery</a>
        <a href="/minigame" class="menu-item">MiniGame</a>
        <a href="/story1" class="menu-item">Story 1</a>
      </div>
      <div class="mobile-menu-section">
        <div class="menu-button">
          <button type="button" id="navbarTrigger"><i class="fas fa-bars"></i></button>
        </div>
        <div class="menu-list" id="mobileMenu">
          <a href="#home" class="menu-item">home</a>
          <a href="#portofolio" class="menu-item">portofolio</a>
          <a href="#skill" class="menu-item">skill</a>
          <a href="#contact" class="menu-item">contact</a>
          <a href="#" class="menu-item" data-toggle="modal" data-target="#exampleModal">Gallery</a>
          <a href="minigame" class="menu-item">MiniGame</a>
          <a href="/story1" class="menu-item">Story 1</a>
        </div>
      </div>
    </div>
  </div>