{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container section-row mt-6">
        <img id="questionImage" src="{% static 'lab4/minigame1.jpg' %}" class="minigame-question">
        <div class="minigame-answer-section">
            <input type="text" id="answer" class="form-control" placeholder="Input Answer">
            <input id="enterAnswer" type="submit" class="btn btn-primary mt-2" value="Submit Answer">
            <div class="mt-6">
                <div class="minigame-status"><span id="status"></span></div>
                <div class="minigame-score"><i class="fas fa-star"></i>Score : <span id="score"></span></div>
                <div class="minigame-lives"><i class="fas fa-heart"></i>Live : <span id="live"></span></div>
            </div>
        </div>
    </div>

     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Gallery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'lab4/gallery (1).jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'lab4/gallery (2).jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'lab4/gallery (3).jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'lab4/gallery (4).jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'lab4/gallery (5).jpg' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Optional JavaScript -->
    <script>
      AOS.init();
      
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();

              document.querySelector(this.getAttribute('href')).scrollIntoView({
                  behavior: 'smooth'
              });
          });
      });

      document.getElementById('navbarTrigger').addEventListener('click',function(){
        document.getElementById('mobileMenu').classList.toggle('show');
        });
        

      var imagesrc = ["{% static 'lab4/minigame1.jpg' %}","{% static 'lab4/minigame2.jpg' %}","{% static 'lab4/minigame3.jpg' %}","{% static 'lab4/minigame4.jpg' %}","{% static 'lab4/minigame5.jpg' %}"];
      var ans = ['3','39','14','4','43215'];
      var index = 0;
      var score = 0;
      var live = 3;
      var a = document.getElementById('enterAnswer');
      var b = document.getElementById('answer');
      var c = document.getElementById('score');
      var d = document.getElementById('live');
      var e = document.getElementById('questionImage');
      var f = document.getElementById('status');
      c.innerHTML = score;
      d.innerHTML = live;

      a.addEventListener('click',function(){

        if(ans[index]==b.value){
          score +=10;
          f.innerHTML = 'CORRECT ANSWER'
          f.style.color = 'green';
        }else{
          live-=1;
          f.innerHTML = 'WRONG ANSWER';
          f.style.color = 'red';
        }

        b.value ='';

        c.innerHTML = score;
        d.innerHTML = live;

        index++;
        e.src = imagesrc[index];

        if(index==5){
          e.src = '';
          d.innerHTML = 'Completed';
          a.style.display = 'none';
          b.style.display = 'none';
        }

        if(live == 0){
          e.src = '';
          d.innerHTML = 'GAME OVER';
          a.style.display = 'none';
          b.style.display = 'none';
        }

      })


    </script>

{% endblock %}