{% extends 'base.html' %}
{% load tz %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-6">
    {% if valid %}
    <h3>Time now is : {{time}}</h3>
    {% else %}
    <h3>Time Zone not valid</h3>
    {% endif %}
</div>
{% endblock %}